Repository openrewrite/rewrite-testing-frameworks, pull requests merged in 2025-04, with the labels that each got.

#690 Replace AssertJ's `hasSize` with `hasSameSizeAs` where applicable
  build.gradle.kts
  src/main/java/org/openrewrite/java/testing/assertj/SimplifyHasSizeAssertion.java
  src/main/resources/META-INF/rewrite/assertj.yml
  src/test/java/org/openrewrite/java/testing/assertj/AssertJBestPracticesTest.java
  src/test/java/org/openrewrite/java/testing/assertj/SimplifyHasSizeAssertionTest.java
Labels: recipe, assertj

#691 Recipe to replace @Rule Timeout to JUnit 5 Timeout annotation
  src/main/java/org/openrewrite/java/testing/junit5/ExpectedExceptionToAssertThrows.java
  src/main/java/org/openrewrite/java/testing/junit5/JUnitParamsRunnerToParameterized.java
  src/main/java/org/openrewrite/java/testing/junit5/TemporaryFolderToTempDir.java
  src/main/java/org/openrewrite/java/testing/junit5/TestRuleToTestInfo.java
  src/main/java/org/openrewrite/java/testing/junit5/TimeoutRuleToClassAnnotation.java
  src/main/java/org/openrewrite/java/testing/junit5/UpdateMockWebServer.java
  src/main/java/org/openrewrite/java/testing/junit5/UpdateTestAnnotation.java
  src/main/java/org/openrewrite/java/testing/junit5/UseTestMethodOrder.java
  src/main/java/org/openrewrite/java/testing/mockito/MockitoJUnitRunnerSilentToExtension.java
  src/main/resources/META-INF/rewrite/junit5.yml
  src/test/java/org/openrewrite/java/testing/junit5/EnclosedToNestedTest.java
  src/test/java/org/openrewrite/java/testing/junit5/TimeoutRuleToClassAnnotationTest.java
Labels: enhancement, recipe

#699 Convert JUnit AssertThrows with description message over to AssertJ
  src/main/java/org/openrewrite/java/testing/assertj/JUnitAssertThrowsToAssertExceptionType.java
  src/test/java/org/openrewrite/java/testing/assertj/JUnitAssertThrowsToAssertExceptionTypeTest.java
Labels: enhancement, recipe, assertj

#695 Recipe to remove initMocks if specified JUnit runners
  src/main/java/org/openrewrite/java/testing/mockito/RemoveInitMocksIfRunnersSpecified.java
  src/main/resources/META-INF/rewrite/mockito.yml
  src/test/java/org/openrewrite/java/testing/mockito/RemoveInitMocksIfRunnersSpecifiedTest.java
Labels: recipe, mockito

#702 Convert JUnit AssertThrows with assigment over to AssertJ
  src/main/java/org/openrewrite/java/testing/assertj/JUnitAssertThrowsToAssertExceptionType.java
  src/test/java/org/openrewrite/java/testing/assertj/JUnitAssertThrowsToAssertExceptionTypeTest.java
Labels: enhancement, recipe, assertj

#706 Add support for CsvSource migration
  src/main/java/org/openrewrite/java/testing/junit5/JUnitParamsRunnerToParameterized.java
  src/test/java/org/openrewrite/java/testing/junit5/JUnitParamsRunnerToParameterizedTest.java
Labels: enhancement, junit

#700 Recipe to replace `initMocks` with `openMocks`
  src/main/java/org/openrewrite/java/testing/mockito/ReplaceInitMockToOpenMock.java
  src/main/resources/META-INF/rewrite/examples.yml
  src/main/resources/META-INF/rewrite/junit5.yml
  src/main/resources/META-INF/rewrite/mockito.yml
  src/test/java/org/openrewrite/java/testing/mockito/JunitMockitoUpgradeIntegrationTest.java
  src/test/java/org/openrewrite/java/testing/mockito/ReplaceInitMockToOpenMockTest.java
Labels: recipe, mockito

#709 Implement MockitoJUnitRunner to Extension Recipe
  src/main/java/org/openrewrite/java/testing/mockito/MockitoJUnitRunnerSilentToExtension.java
  src/main/java/org/openrewrite/java/testing/mockito/MockitoJUnitRunnerToExtension.java
  src/test/java/org/openrewrite/java/testing/mockito/MockitoJUnitRunnerToExtensionTest.java
Labels: recipe, mockito

#705 Add support to migrate EnvironmentVariables TestRule
  build.gradle.kts
  src/main/java/org/openrewrite/java/testing/junit5/EnvironmentVariables.java
  src/main/java/org/openrewrite/java/testing/junit5/Junit4Utils.java
  src/main/resources/META-INF/rewrite/classpath.tsv.zip
  src/test/java/org/openrewrite/java/testing/junit5/EnvironmentVariablesTest.java
Labels: recipe, junit

#712 refactor: OpenRewrite Recipe best practices
  src/main/resources/META-INF/rewrite/examples.yml
  src/test/java/org/openrewrite/java/testing/archunit/ArchUnit0To1MigrationTest.java
  src/test/java/org/openrewrite/java/testing/assertj/SimplifyAssertJAssertionTest.java
  src/test/java/org/openrewrite/java/testing/cleanup/AssertTrueComparisonToAssertEqualsTest.java
  src/test/java/org/openrewrite/java/testing/cleanup/RemoveEmptyTestsTest.java
  src/test/java/org/openrewrite/java/testing/hamcrest/HamcrestMatcherToJUnit5Test.java
  src/test/java/org/openrewrite/java/testing/jmockit/JMockitFullVerificationsToMockitoTest.java
  src/test/java/org/openrewrite/java/testing/jmockit/JMockitNonStrictExpectationsToMockitoTest.java
  src/test/java/org/openrewrite/java/testing/junit5/AssertToAssertionsTest.java
  src/test/java/org/openrewrite/java/testing/junit5/ExpectedExceptionToAssertThrowsTest.java
  src/test/java/org/openrewrite/java/testing/junit5/JUnit5MigrationTest.java
  src/test/java/org/openrewrite/java/testing/junit5/ParameterizedRunnerToParameterizedTest.java
  src/test/java/org/openrewrite/java/testing/mockito/ReplacePowerMockitoIntegrationTest.java
  src/test/java/org/openrewrite/java/testing/testcontainers/TestcontainersBestPracticesTest.java
Labels: documentation

#716 Resolve failing tests
  src/main/java/org/openrewrite/java/testing/junit5/UseWiremockExtension.java
  src/test/java/org/openrewrite/java/testing/junit5/JUnit5BestPracticesTest.java
Labels: bug
