Repository openrewrite/rewrite-testing-frameworks, pull requests merged in 2025-08, with the labels that each got.

#782 Don't clean up mockito imports for Kotlin
  src/main/java/org/openrewrite/java/testing/mockito/CleanupMockitoImports.java
  src/test/java/org/openrewrite/java/testing/mockito/CleanupMockitoImportsTest.java
Labels: bug, recipe

#760 Adding dependency guards to the Junit 4 -> 5 migration for when the POM or build.gradle have a dependency on `org.testng:testng`.
  src/main/resources/META-INF/rewrite/junit5.yml
  src/test/java/org/openrewrite/java/testing/junit5/JUnit5MigrationTest.java
Labels: bug, recipe, test provided

#786 Fix ClassCastException in PowerMockitoWhenNewToMockito
  src/main/java/org/openrewrite/java/testing/mockito/PowerMockitoWhenNewToMockito.java
  src/test/java/org/openrewrite/java/testing/mockito/ReplacePowerMockitoIntegrationTest.java
Labels: bug, mockito

#793 Remove lineSeparator annotation attribute
  src/main/resources/META-INF/rewrite/junit6.yml
Labels: enhancement, junit

#794 Use classpath from resource for Refaster
  build.gradle.kts
  src/main/resources/META-INF/rewrite/classpath.tsv.zip
Labels: enhancement

#781 Add `JUnitTryFailToAssertThatThrownBy`
  src/main/java/org/openrewrite/java/testing/assertj/JUnitTryFailToAssertThatThrownBy.java
  src/main/resources/META-INF/rewrite/assertj.yml
  src/main/resources/META-INF/rewrite/examples.yml
  src/test/java/org/openrewrite/java/testing/assertj/JUnitTryFailToAssertThatThrownByTest.java
Labels: recipe, assertj

#797 Use `@ValueSource` instead of `@CsvSource` where there's a single arg
  src/main/java/org/openrewrite/java/testing/junit5/CsvSourceToValueSource.java
  src/main/resources/META-INF/rewrite/junit5.yml
  src/test/java/org/openrewrite/java/testing/junit5/CsvSourceToValueSourceTest.java
Labels: recipe, junit

#798 No try staticMocking when field is already statically mocked.
  src/main/java/org/openrewrite/java/testing/mockito/MockitoWhenOnStaticToMockStatic.java
  src/test/java/org/openrewrite/java/testing/mockito/MockitoWhenOnStaticToMockStaticTest.java
Labels: bug

#799 Adding support for recognizing instantiation of mocked static in TestNG-related `@BeforeMethod` and `@BeforeClass` annotated methods
  src/main/java/org/openrewrite/java/testing/mockito/MockitoWhenOnStaticToMockStatic.java
  src/test/java/org/openrewrite/java/testing/mockito/MockitoWhenOnStaticToMockStaticTest.java
Labels: enhancement, test provided
