Repository openrewrite/rewrite-testing-frameworks, pull requests merged in 2025-07, with the labels that each got.

#758 Remove `@InjectMocks` from initialized fields
  src/main/java/org/openrewrite/java/testing/mockito/NoInitializationForInjectMock.java
  src/test/java/org/openrewrite/java/testing/mockito/NoInitializationForInjectMockTest.java
Labels: enhancement, mockito

#765 Removing `NoInitializationForInjectMock` recipe due to side effects when using recipe
  src/main/java/org/openrewrite/java/testing/mockito/NoInitializationForInjectMock.java
  src/main/resources/META-INF/rewrite/examples.yml
  src/main/resources/META-INF/rewrite/mockito.yml
  src/test/java/org/openrewrite/java/testing/easymock/EasyMockToMockitoTest.java
  src/test/java/org/openrewrite/java/testing/mockito/NoInitializationForInjectMockTest.java
Labels: bug, mockito

#766 Adding functionality to `MockitoWhenOnStaticToMockStatic` for recognizing an existing try-with-resources `MockedStatic<T>` can be reused instead of creating a new one.
  src/main/java/org/openrewrite/java/testing/mockito/MockitoWhenOnStaticToMockStatic.java
  src/test/java/org/openrewrite/java/testing/mockito/MockitoWhenOnStaticToMockStaticTest.java
Labels: bug, mockito, test provided

#769 Collapse more consecutive assertions
  src/main/java/org/openrewrite/java/testing/assertj/CollapseConsecutiveAssertThatStatements.java
  src/test/java/org/openrewrite/java/testing/assertj/CollapseConsecutiveAssertThatStatementsTest.java
Labels: enhancement, recipe, assertj

#773 Include additional AssertJ migrations
  src/main/resources/META-INF/rewrite/assertj.yml
  src/test/java/org/openrewrite/java/testing/assertj/AssertJBestPracticesTest.java
Labels: enhancement, assertj

#774 Include recipes in larger composites where possible
  src/main/java/org/openrewrite/java/testing/mockito/VerifyZeroToNoMoreInteractions.java
  src/main/resources/META-INF/rewrite/junit5.yml
Labels: enhancement, junit

#724 Added implementation to extract any expression arguments from last statement in assertThrows
  src/main/java/org/openrewrite/java/testing/junit5/AssertThrowsOnLastStatement.java
  src/test/java/org/openrewrite/java/testing/junit5/AssertThrowsOnLastStatementTest.java
Labels: enhancement, junit
